<div>
<div class="slds-grid rio-news-element">
<div class="slds-size--2-of-12 slds-max-small-size--1-of-4 slds-text-align--center">
<a class="rio-realm-link rio-news-element--title" href="/guide/route/Tyrannical-Bolstering-Necrotic.html">
<div class="affix rio-border--light">
<a href="/guide/route/Tyrannical-Bolstering-Necrotic.html" data-wowhead="affix=9&domain=ru" data-wh-rename-link="false">
<img src="https://wow.zamimg.com/images/wow/icons/medium/achievement_boss_archaedas.jpg"></a>
<a href="/guide/route/Tyrannical-Bolstering-Necrotic.html" data-wowhead="affix=7&domain=ru" data-wh-rename-link="false">
<img src="https://wow.zamimg.com/images/wow/icons/medium/ability_warrior_battleshout.jpg"></a>
<a href="/guide/route/Tyrannical-Bolstering-Necrotic.html" data-wowhead="affix=4&domain=ru" data-wh-rename-link="false">
<img src="https://wow.zamimg.com/images/wow/icons/medium/spell_deathknight_necroticplague.jpg"></a>
<a href="/guide/route/Tyrannical-Bolstering-Necrotic.html" data-wowhead="affix=121&domain=ru" data-wh-rename-link="false">
<img src="https://wow.zamimg.com/images/wow/icons/medium/spell_animarevendreth_buff.jpg"></a>
</div>
</a>
</div>